{{> header.hbs}}

<p>All the reviews</p>
<table>
<tr>
    <th>rID</th>
    <th>Member Username</th>
    <th>Date Written</th>
    <th>Movie Name</th>
    <th>US Release Date</th>
    <th>Intl Release Date</th>
    <th>Movie Rating</th>
    <th>Review</th>
</tr>
{{#adminReview}}
<tr>
    <td>{{rID}}</td>
    <td>{{memberuname}}</td>
    <td>{{datewritten}}</td>
    <td>{{name}}</td>
    <td>{{date}}</td>
    <td>{{dateuk}}</td>
    <td>{{rating}}</td>
    <td>{{rtext}}</td>
</tr>
{{/adminReview}}
</table>

<form method="post" action="/admin/delete-review">
    <p><label>Review ID:</label><input name="id" type="text" size="20"></p>
    <button type="submit">Delete</button>
</form>

{{#errorMsg}}
<p style="font-weight: bold; color: red;">{{errorMsg}}</p>
{{/errorMsg}}

{{#successfulMsg}}
<p style="font-weight: bold; color: red;">{{successfulMsg}}</p>
{{/successfulMsg}}

<form method="get" action="/admin/home">
    <p><button type="submit">Go back to main menu</button></p>
</form>

{{> footer.hbs}}